.split-pane-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.split-pane-left,
.split-pane-right {
  height: 100%;
  overflow: hidden;
}

.split-pane-divider {
  width: 5px;
  background-color: #1e1e1e;
  cursor: col-resize;
  position: relative;
  flex-shrink: 0;
  transition: background-color 0.2s;
}

.split-pane-divider:hover {
  background-color: #007acc;
}

.split-pane-divider.dragging {
  background-color: #007acc;
}

.split-pane-divider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 40px;
  background-color: #454545;
  border-radius: 2px;
}

.split-pane-divider:hover .split-pane-divider-handle {
  background-color: #ffffff;
}

.split-pane-divider.dragging .split-pane-divider-handle {
  background-color: #ffffff;
}

/* Prevent text selection while dragging */
.split-pane-container.dragging {
  user-select: none;
}

